body{
    		margin: 0;
    		padding: 0;
    		font-family: sans-serif;
    	}
    	#barra{
    		width: 100%;
    		background-color: #EEEEEE;
    		height: 30px;
    		padding: 5px;
    		
    	}
    	#logo {
    		float: left;
    		font-weight: bold;
    		font-size: 120%;
    		padding: 3px 5px;
    		
    	}
    	#contenedorBotones{
    		margin: 0 auto;
    		width: 250px;
    		
    	}
    	.botones{
    		
    		border: 1px solid black;
    		padding: 3px;
    		font-size: 90%;
    		float: left;
    		border-right: none;
    	}
    	#output{
    		border-right: 1px solid black;
    		border-top-right-radius: 5px;
    		border-bottom-right-radius: 5px;
    	}
    	#html{
    		border-top-left-radius: 5px;
    		border-bottom-left-radius: 5px;
    	}
    	.botonMarcado{
    		background-color: #E5E5E5;
    	}
    	.botonActivo{
    		background-color: #42d9f4;
    	}
    	textarea{
    		   resize: none;
                border-top:none;
                border-color:grey;
    	}
    	.panel{
    		float: left;
    		width: 50%;
    		border-left: none;
    	}
    	iframe{
    		border: none;
    	}
    	.oculto{
    		display: none;
    	}
